<section class="showcase">
  <header>
    <h2 class="logo">Nicolas Botte</h2>
    <div class="toggle"></div>
  </header>
  <div class="overlay"></div>
</section>
<div class="menu">
  <ul class="menu__items">
    <li class="menu__item"><a class="menu__link" href="#">Accueil</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Présentation&dtrif;</a>
      <ul class="menu__dropdown">
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_qui-suis-je", {'_fragment': 'qui-suis-je'}) }}">Qui suis-je?</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_naturopathie", {'_fragment': 'naturopathie'}) }}">
        Naturopathie</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_hypnose", {'_fragment': 'hypnose'}) }}">Hypnose</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Consultation&dtrif;</a>
      <ul class="menu__dropdown">
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="#">Rendez-vous</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="#">Les ateliers</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_tarif_index", {'_fragment': 'tarifs'}) }}">Les tarifs</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="#">Contact</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Blog</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Compte&dtrif;</a>
      <ul class="menu__dropdown">
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("login", {'_fragment': 'login'}) }}">Connexion</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_register", {'_fragment': 'register'}) }}">Inscription</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <hr>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_logout") }}">Déconnexion</a></li>
        {% endif %}
      </ul>
    </li>
  </ul>
</div>
