<section class="showcase">
  <header>
    <h2 class="logo">Nicolas Botte</h2>
    <div class="toggle"></div>
  </header>
  <div class="overlay"></div>
</section>
<div class="menu">
  <ul class="menu__items">
    <li class="menu__item"><a class="menu__link" href="{{ path("app_home", {'_fragment': 'home'}) }}">Accueil</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Présentation&dtrif;</a>
      <ul class="menu__dropdown">
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_qui-suis-je", {'_fragment': 'qui-suis-je'}) }}">Qui suis-je?</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_naturopathie", {'_fragment': 'naturopathie'}) }}">
        Naturopathie</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_hypnose", {'_fragment': 'hypnose'}) }}">Hypnose</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Consultation&dtrif;</a>
      <ul class="menu__dropdown">
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_rendez-vous", {'_fragment': 'rendez-vous'}) }}">Rendez-vous</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_atelier_index", {'_fragment': 'ateliers'}) }}">Les ateliers</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_tarif_index", {'_fragment': 'tarifs'}) }}">Les tarifs</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_contact", {'_fragment': 'contact'}) }}">Contact</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="{{ path('app_article_index', {'_fragment': 'blog'}) }}">Blog</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Compte&dtrif;</a>
      <ul class="menu__dropdown">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_user_admin_index", {'_fragment': 'user-index'}) }}">Utilisateurs</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_order_admin_index", {'_fragment': 'admin-orders'}) }}">Commandes</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_tva_edit", {'id': 1, '_fragment': 'tva-edit'}) }}">TVA</a></li>
        <hr>
        {% endif %}
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_user_edit", {'id': app.user.id, '_fragment': 'user-edit'}) }}">Modifier</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_order_index", {'_fragment': 'orders'}) }}">Commandes</a></li>
        <hr>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_logout") }}">Déconnexion</a></li>
        {% else %}
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("login", {'_fragment': 'login'}) }}">Connexion</a></li>
        <li class="menu__dropdown--item"><a class="menu__dropdown--link" href="{{ path("app_register", {'_fragment': 'register'}) }}">Inscription</a></li>
        {% endif %}
      </ul>
    </li>
    {% if app.session.get("cart") %}
    <li class="menu__item">
      <a class="menu__link" 
        {% if is_granted("ROLE_USER") %}
        href="{{ path("cart_index", {'_fragment': 'cart'}) }}"
        {% else %}
        href="{{ path("login", {'_fragment': 'login'}) }}"
        {% endif %}
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
        </svg>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
