{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="min-vh-100"></div>
    <main class="container my-3" id="cart">
      <section class="d-flex flex-column align-items-center">
          <h2>Mon panier</h2>
          {% if app.session.get("cart") %}
            {% for atelier in lineItems %}
              <div class="card col-11 col-md-6 my-3 shadow">
                <div class="card-body d-flex flex-column">
                  <a href="{{ path('cart_delete', {id: atelier['atelier_id']}) }}" class="align-self-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle text-danger" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </a>
                  <h5 class="card-title">{{ atelier['price_data']['product_data']['name'] }}</h5>
                  <p class="card-text">Le {{ atelier['atelier_date']|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY à HH:mm") }}</p>
                  <span class="align-self-end">{{ atelier['price_data']['unit_amount']|format_currency('EUR') }}</span>
                </div>
              </div>

            {% endfor %}
            <a href="{{ path("app_atelier_index", {'_fragment': 'ateliers'}) }}" class="btn btn-outline-primary shadow my-3 rounded-pill">Continuer mes achats</a>
            <p class="mt-5">Total à payer: {{ total|format_currency('EUR') }}</p>
            <div>
                <button id="checkout-button" class="btn btn-primary shadow mb-3">Valider mon panier</button>
            </div>
          {% else %}
            <p>Votre panier est vide.</p>
            <a href="{{ path("app_atelier_index", {'_fragment': 'ateliers'}) }}" class="btn btn-outline-primary shadow my-3 rounded-pill">Voir les prochains ateliers</a>
          {% endif %}
      </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      window.onload = function() {
        {% if app.environment == 'dev' %}
          let stripeToken = "{{ stripe_public_key_test }}";
        {% else %}
          let stripeToken = "{{ stripe_public_key_live }}";
        {% endif %}
        // Create an instance of the Stripe object with your publishable API key
        let stripe = Stripe(stripeToken);
        let checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("{{ path('cart_stripe_create_session') }}")
                .then(function (response) {
                    console.log(response);
                    return response.json();
                })
                .then(function (session) {
                    console.log("hello");
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
      }
    </script>
{% endblock %}
