{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <div class="min-vh-100"></div>
    <main class="container d-flex flex-column align-items-center my-3" id="admin-orders">
        <h1 class="text-center">Liste des commandes</h1>
        <div class="col-12">
        {{ form_start(form) }}
            <div class="col-12">
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.searchReference) }}
                </div>
            </div>
        {{ form_end(form) }}
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Référence</th>
                    <th>Date</th>
                    <th>Utilisateur</th>
                    <th>Prix</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td class="{{ order.status is same as 'success' ? 'text-success' : 'text-danger'}}">{{ order.status}}</td>
                    <td>{{ order.reference }}</td>
                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>{{ order.price|format_currency('EUR') }}</td>
                    <td>
                        <a class="btn btn-outline-primary rounded-pill" href="{{ path('app_order_admin_show', {'id': order.id, '_fragment': 'order-admin-show'}) }}">détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune commande.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if total > limit %}
            {# get total number of pages #}
            {% set pages = (total / limit)|round(0, 'ceil') %}
            <nav class="mt-3" aria-label="Pagination des commandes">
                <ul class="pagination">
                    <li class="page-item {{ (page == 1) ? 'disabled' : ''}}">
                        <a class="page-link" href="{{ (page > 1) ? '?page=' ~ (page - 1) ~ '#admin-orders' : '' }}" tabindex="-1" aria-disabled="true">Précédent</a>
                    </li>
                    {% for item in 1..(pages) %}
                    <li class="page-item {{ (page == item) ? 'active' : ''}}">
                        <a class="page-link" href="?page={{item}}#admin-orders">{{ item }}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item {{ (page == pages) ? 'disabled' : ''}}">
                        <a class="page-link" href="{{ (page < pages) ? '?page=' ~ (page + 1) ~ '#admin-orders' : '' }}">Suivant</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </main>
{% endblock %}
