{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="min-vh-100"></div>
    <main class="container d-flex flex-column align-items-center" id="user-index">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h1 class="my-3">Liste des utilisateurs</h1>

        {{ form_start(form) }}
            <div>
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.searchContent) }}
                </div>
            </div>
        {{ form_end(form) }}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Vérifié</th>
                    <th>Création du compte</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        <a href="{{ path('app_user_admin_show', {'id': user.id}) }}">Voir</a>
                        <a href="{{ path('app_user_admin_edit', {'id': user.id, '_fragment': 'user-admin-edit'}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
