<fieldset class="border border-primary border-rounded my-5 shadow col-11">
<span class="text-muted p-3 m-3">
    Pour ajouter une image sans bug de largeur :
    <ul>
        <li>Cliquer sur l'icone image dans la toolbar</li>
        <li>Cliquer sur parcourir le serveur et ajouter l'image</li>
        <li>Décrire brievement l'image dans le champ Texte alternatif (pour référencement)</li>
        <li>Cliquer sur l'onglet 'Avancé'</li>
        <li>Dans le champ Classes de style, taper <code>h-100 w-100</code></li>
    </ul>
</span>
{{ form_start(form, {
        'attr': {class:"d-flex flex-column my-3 p-3"}
    }) }}
        {{ form_row(form.title, {
            label: "Titre",
            'attr': {class:"d-flex flex-column rounded-pill"}
        }) }}
        {{ form_row(form.filePath, {
            label: 'Image de couverture',
            'attr': {class:"d-flex flex-column rounded-pill"}
        }) }}
        {{ form_row(form.content, {
            label: 'Contenu',
            'attr': {class:"d-flex flex-column rounded-pill"}
        }) }}
    <button type="submit" class="btn btn-primary rounded-pill">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
</fieldset>