<fieldset class="border border-primary border-rounded bg-secondary my-5 shadow col-11 col-md-8 col-lg-6 col-xxl-4">
{{ form_start(passwordForm, {
        'attr': {class:"d-flex flex-column my-3 p-3"}
    }) }}
        {{ form_row(passwordForm.password, {
            label: "Ancien mot de passe",
            'attr': {class:"d-flex flex-column rounded-pill"}
        }) }}
        {{ form_row(passwordForm.plainPassword, {
            label: 'Nouveau mot de passe',
            'attr': {class:"d-flex flex-column rounded-pill"}
        }) }}
    <button type="submit" class="btn btn-primary rounded-pill">{{ button_label|default('Valider') }}</button>
{{ form_end(passwordForm) }}
</fieldset>
